<html>
    <head>
        <title>Which Phone Should I Buy?</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/images/circle.png">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--JQUERY-->
        <script type="text/javascript" src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <!--CSS-->
        <link href="home.css" rel="stylesheet">
        <!--SWEETALERT-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <!--FONT AWESOME-->
        <script src="https://kit.fontawesome.com/6e85f854c4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="rotateDeviceDiv hide">
            <i style="font-size: 10rem;" class="fas fa-mobile-alt rotateDeviceIcon"></i>
            <h4>Rotate your phone!</h4>
        </div>
        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div >
        <div class="titleDiv" style="margin-top:5rem;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="questionAnswerDiv" id="magyarButton">
                            <h1 class="answerText">MAGYAR</h1>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="questionAnswerDiv" id="angolButton">
                            <h1 class="answerText">ENGLISH</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

	</body>
        
<script>
//BG COLORS
var backgroundColors = "rgb(15,15,115)";

$(".questionAnswerDiv").css({"width":"28vw"})

//IF MOBILE AND PORTRAIT ORIANTATION ALERT TO CHANGE TO LANDSCAPE ORIANTATION
mobileViewport();
//BACKGROUND FLOW
backgroundColorFlow();
//RESPONSIVE
responsiveCss()        
$(window).on("resize",function(){
    responsiveCss()
})
//LANGUAGE HOVER
$(".questionAnswerDiv").hover(function(){
    $(this).css({"background-color":"white"});
    $(this).find(".answerText").css({"color": backgroundColors });
},function(){
    $(this).css({"background-color":"#00000000"});
    $(this).find(".answerText").css({"color":"white"});
});

$("#magyarButton").on("click",function(){
    location.href = "/hu"
});
$("#angolButton").on("click",function(){
    location.href = "/en"
});

//FUNCTION
    //CHANGE TEXT SIZES WITH PAGE
    function responsiveCss(){
        $(".title").css({
            "font-size" : (window.innerHeight+window.innerWidth)/18+"px"
        });
        $(".startButton").css({
            "font-size" : (window.innerHeight+window.innerWidth)/45+"px"
        });
        $(".questionText").css({
            "font-size":(window.innerHeight+window.innerWidth)/20+"px"
        });
         $(".answerText").css({
            "font-size":(window.innerHeight+window.innerWidth)/40+"px"
        });
    }

    //MOBILE VIEWPORT ALERT
    function mobileViewport(){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $(".container").css("max-width","95%");
                if(window.innerHeight < window.innerWidth){
                    landscapeCss()
                } else if(window.innerHeight > window.innerWidth){
                    portraitCss();
                } else {
                    alert("ERROR")
                }
                window.addEventListener("orientationchange", function() {
                    setTimeout(function(){
                        if(window.innerHeight < window.innerWidth){
                            landscapeCss()
                        } else if(window.innerHeight > window.innerWidth){
                            portraitCss();
                        } else {
                            alert("ERROR")
                        }
                    },50);                    
                }, false);
        }
    }
    function portraitCss(){
        $(".area").css({"opacity":"0.5"});
        $(".titleDiv").css({"opacity":"0.5"})
        $(".rotateDeviceDiv").fadeIn();
        $(".rotateDeviceIcon").addClass("rotate-center");
        $(".startButton").attr("disabled",true);
    }
    function landscapeCss(){
        $(".rotateDeviceIcon").css({'transform' : 'rotate('+ -90 +'deg)'});
        $(".area").css({"opacity":"1"});
        $(".titleDiv").css({"opacity":"1"})
        $(".rotateDeviceDiv").fadeOut();
        $(".rotateDeviceIcon").removeClass("rotate-center");
    }

    //BACKGROUND COLOR CHANGING
    function backgroundColorFlow(){
        let mennyivel = 5;
        let min = 15;
        let max = 115;

        let redNov = false;
        let redCsok = true;
        let greenNov = false;
        let greenCsok = false;
        let blueNov = false;
        let blueCsok = false;

        let red = min;
        let green = min;
        let blue = max;

        setInterval(()=>{
            if(redNov){
                if(red >= max){
                    redNov = false;
                    greenCsok = true;
                } else {
                    red += mennyivel
                }
            }
            if(redCsok){
                if(red <= min){
                    redCsok = false;
                    greenNov = true;
                } else {
                    red -= mennyivel
                }
            }
            if(greenNov){
                if(green >= max){
                    greenNov = false;
                    blueCsok = true;
                } else {
                    green += mennyivel
                }
            }
            if(greenCsok){
                if(green <= min){
                    greenCsok = false;
                    blueNov = true;
                } else {
                    green -= mennyivel;
                }
            }
            if(blueNov){
                if(blue>=max){
                    blueNov = false;
                    redCsok = true;
                } else {
                    blue += mennyivel
                }
            }
            if(blueCsok){
                if(blue<=min){
                    blueCsok = false;
                    redNov = true;
                } else {
                    blue -= mennyivel
                }
            }
            backgroundColors = "rgb(" + red + "," + green + "," + blue + ")";
            $(".area").css({"background":backgroundColors});
            if($(".startButton:hover").length == 0){
                $(".startButton").css({"color":backgroundColors, "border-color":"white"});
            } else {
                $(".startButton").css({"background":"#FFFFFF00","color":"white"});
            }
            $(".startButton").on("mouseenter",function(){
                $(this).css({"background":"#FFFFFF00","color":"white"});
            });
            $(".startButton").on("mouseleave",function(){
                $(this).css({"background":"white","color":backgroundColors});
            });
        },1000);
        
    }
    
</script>
</html>