<html>
    <head>
        <title>Which Phone Should I Buy?</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/images/circle.png">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--JQUERY-->
        <script type="text/javascript" src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <!--CSS-->
        <link href="home.css" rel="stylesheet">
        <!--SWEETALERT-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <!--FONT AWESOME-->
        <script src="https://kit.fontawesome.com/6e85f854c4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="rotateDeviceDiv hide">
            <i style="font-size: 10rem;" class="fas fa-mobile-alt rotateDeviceIcon"></i>
            <h4>Rotate your phone!</h4>
        </div>
        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div >
        <div class="titleDiv">
                <h1 class="title noselect">MILYEN TELEFONT VEGYEK?</h1>
                <button class="startButton noselect">START <i class="fas fa-angle-double-right"></i></button>
        </div> 
        <div class="questionsDiv hide">
            <!--1. QUESTION - ANDROID/IOS-->
            <div class="questionDiv" id="1-question">
                <h1 class="questionText noselect">Android or IOS?</h1>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="android">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="android" class="svg-inline--fa fa-android fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M89.6 204.5v115.8c0 15.4-12.1 27.7-27.5 27.7-15.3 0-30.1-12.4-30.1-27.7V204.5c0-15.1 14.8-27.5 30.1-27.5 15.1 0 27.5 12.4 27.5 27.5zm10.8 157c0 16.4 13.2 29.6 29.6 29.6h19.9l.3 61.1c0 36.9 55.2 36.6 55.2 0v-61.1h37.2v61.1c0 36.7 55.5 36.8 55.5 0v-61.1h20.2c16.2 0 29.4-13.2 29.4-29.6V182.1H100.4v179.4zm248-189.1H99.3c0-42.8 25.6-80 63.6-99.4l-19.1-35.3c-2.8-4.9 4.3-8 6.7-3.8l19.4 35.6c34.9-15.5 75-14.7 108.3 0L297.5 34c2.5-4.3 9.5-1.1 6.7 3.8L285.1 73c37.7 19.4 63.3 56.6 63.3 99.4zm-170.7-55.5c0-5.7-4.6-10.5-10.5-10.5-5.7 0-10.2 4.8-10.2 10.5s4.6 10.5 10.2 10.5c5.9 0 10.5-4.8 10.5-10.5zm113.4 0c0-5.7-4.6-10.5-10.2-10.5-5.9 0-10.5 4.8-10.5 10.5s4.6 10.5 10.5 10.5c5.6 0 10.2-4.8 10.2-10.5zm94.8 60.1c-15.1 0-27.5 12.1-27.5 27.5v115.8c0 15.4 12.4 27.7 27.5 27.7 15.4 0 30.1-12.4 30.1-27.7V204.5c0-15.4-14.8-27.5-30.1-27.5z"></path></svg>
                                    <br>Android
                                </h1>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="ios">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="apple" class="svg-inline--fa fa-apple fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg>
                                    <br>IOS
                                </h1>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="-">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path></svg>
                                    <br>I don't know
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--2. QUESTION - PRICE-->
            <div class="questionDiv hide" id="2-question">
                <h1 class="questionText noselect">HOW MUCH?</h1>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="300">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="coins" class="svg-inline--fa fa-coins fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 405.3V448c0 35.3 86 64 192 64s192-28.7 192-64v-42.7C342.7 434.4 267.2 448 192 448S41.3 434.4 0 405.3zM320 128c106 0 192-28.7 192-64S426 0 320 0 128 28.7 128 64s86 64 192 64zM0 300.4V352c0 35.3 86 64 192 64s192-28.7 192-64v-51.6c-41.3 34-116.9 51.6-192 51.6S41.3 334.4 0 300.4zm416 11c57.3-11.1 96-31.7 96-55.4v-42.7c-23.2 16.4-57.3 27.6-96 34.5v63.6zM192 160C86 160 0 195.8 0 240s86 80 192 80 192-35.8 192-80-86-80-192-80zm219.3 56.3c60-10.8 100.7-32 100.7-56.3v-42.7c-35.5 25.1-96.5 38.6-160.7 41.8 29.5 14.3 51.2 33.5 60 57.2z"></path></svg>
                                    <br> < 300$
                                </h1>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="300-600">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="money-bill-alt" class="svg-inline--fa fa-money-bill-alt fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M320 144c-53.02 0-96 50.14-96 112 0 61.85 42.98 112 96 112 53 0 96-50.13 96-112 0-61.86-42.98-112-96-112zm40 168c0 4.42-3.58 8-8 8h-64c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h16v-55.44l-.47.31a7.992 7.992 0 0 1-11.09-2.22l-8.88-13.31a7.992 7.992 0 0 1 2.22-11.09l15.33-10.22a23.99 23.99 0 0 1 13.31-4.03H328c4.42 0 8 3.58 8 8v88h16c4.42 0 8 3.58 8 8v16zM608 64H32C14.33 64 0 78.33 0 96v320c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V96c0-17.67-14.33-32-32-32zm-16 272c-35.35 0-64 28.65-64 64H112c0-35.35-28.65-64-64-64V176c35.35 0 64-28.65 64-64h416c0 35.35 28.65 64 64 64v160z"></path></svg>
                                    <br>300$ - 600$
                                </h1>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="600">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" class="svg-inline--fa fa-credit-card fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>
                                    <br>600$ <
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--3. QUESTION - SIZE-->
            <div class="questionDiv hide" id="3-question">
                <h1 class="questionText noselect">WHICH SIZE?</h1>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="small">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mobile-alt" class="svg-inline--fa fa-mobile-alt fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>
                                    <br>Compact
                                </h1>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="normal">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tablet-alt" class="svg-inline--fa fa-tablet-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM224 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm176-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h328c6.6 0 12 5.4 12 12v312z"></path></svg>
                                    <br>Larger
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--4. QUESTION - TAKE PHOTOS-->
            <div class="questionDiv hide" id="4-question">
                    <h1 class="questionText noselect">DO YOU WANT TO TAKE PHOTOS?</h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="camera">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera" class="svg-inline--fa fa-camera fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>
                                        <br>Yes
                                    </h1>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="-">
                                    <h1 class="answerText">
                                            <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                        <br>Sometimes
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--5. QUESTION - PLAY GAMES-->
            <div class="questionDiv hide" id="5-question">
                    <h1 class="questionText noselect">DO YOU WANT TO PLAY GAMES?</h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="games">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gamepad" class="svg-inline--fa fa-gamepad fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M480.07 96H160a160 160 0 1 0 114.24 272h91.52A160 160 0 1 0 480.07 96zM248 268a12 12 0 0 1-12 12h-52v52a12 12 0 0 1-12 12h-24a12 12 0 0 1-12-12v-52H84a12 12 0 0 1-12-12v-24a12 12 0 0 1 12-12h52v-52a12 12 0 0 1 12-12h24a12 12 0 0 1 12 12v52h52a12 12 0 0 1 12 12zm216 76a40 40 0 1 1 40-40 40 40 0 0 1-40 40zm64-96a40 40 0 1 1 40-40 40 40 0 0 1-40 40z"></path></svg>
                                        <br>Yes
                                    </h1>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="-">
                                    <h1 class="answerText">
                                            <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                        <br>Not really
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--6. QUESTION - BATTERY-->
            <div class="questionDiv hide" id="6-question">
                    <h1 class="questionText noselect">DO YOU WANT A 2 DAY BATTERY?</h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="battery">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="battery-full" class="svg-inline--fa fa-battery-full fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M544 160v64h32v64h-32v64H64V160h480m16-64H48c-26.51 0-48 21.49-48 48v224c0 26.51 21.49 48 48 48h512c26.51 0 48-21.49 48-48v-16h8c13.255 0 24-10.745 24-24V184c0-13.255-10.745-24-24-24h-8v-16c0-26.51-21.49-48-48-48zm-48 96H96v128h416V192z"></path></svg>
                                        <br>Yes
                                    </h1>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="-">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="battery-empty" class="svg-inline--fa fa-battery-empty fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M544 160v64h32v64h-32v64H64V160h480m16-64H48c-26.51 0-48 21.49-48 48v224c0 26.51 21.49 48 48 48h512c26.51 0 48-21.49 48-48v-16h8c13.255 0 24-10.745 24-24V184c0-13.255-10.745-24-24-24h-8v-16c0-26.51-21.49-48-48-48z"></path></svg>
                                        <br>I don't care
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--7. QUESTION - SCREEN-->
            <div class="questionDiv hide" id="7-question">
                    <h1 class="questionText noselect">DO YOU WANT TO WATCH VIDEOS/MOVIES?</h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="screen">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="photo-video" class="svg-inline--fa fa-photo-video fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M608 0H160a32 32 0 0 0-32 32v96h160V64h192v320h128a32 32 0 0 0 32-32V32a32 32 0 0 0-32-32zM232 103a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9V73a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm352 208a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9v-30a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm0-104a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9v-30a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm0-104a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9V73a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm-168 57H32a32 32 0 0 0-32 32v288a32 32 0 0 0 32 32h384a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32zM96 224a32 32 0 1 1-32 32 32 32 0 0 1 32-32zm288 224H64v-32l64-64 32 32 128-128 96 96z"></path></svg>
                                        <br>Of course
                                    </h1>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="-">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="video-slash" class="svg-inline--fa fa-video-slash fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M633.8 458.1l-55-42.5c15.4-1.4 29.2-13.7 29.2-31.1v-257c0-25.5-29.1-40.4-50.4-25.8L448 177.3v137.2l-32-24.7v-178c0-26.4-21.4-47.8-47.8-47.8H123.9L45.5 3.4C38.5-2 28.5-.8 23 6.2L3.4 31.4c-5.4 7-4.2 17 2.8 22.4L42.7 82 416 370.6l178.5 138c7 5.4 17 4.2 22.5-2.8l19.6-25.3c5.5-6.9 4.2-17-2.8-22.4zM32 400.2c0 26.4 21.4 47.8 47.8 47.8h288.4c11.2 0 21.4-4 29.6-10.5L32 154.7v245.5z"></path></svg>
                                        <br>Just sometimes
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--8. QUESTION - PAY-->
            <div class="questionDiv hide" id="8-question">
                    <h1 class="questionText noselect">DO YOU WANT TO PAY WITH YOUR PHONE?</h1>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="pay">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart" class="svg-inline--fa fa-shopping-cart fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path></svg>
                                        <br>Yes
                                    </h1>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="questionAnswerDiv" name="-">
                                    <h1 class="answerText">
                                        <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="not-equal" class="svg-inline--fa fa-not-equal fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32h-23.88l51.87-66.81c5.37-7.02 4.04-17.06-2.97-22.43L415.61 3.3c-7.02-5.38-17.06-4.04-22.44 2.97L311.09 112H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h204.56l-74.53 96H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h55.49l-51.87 66.81c-5.37 7.01-4.04 17.05 2.97 22.43L64 508.7c7.02 5.38 17.06 4.04 22.43-2.97L168.52 400H416c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32H243.05l74.53-96H416z"></path></svg>
                                        <br>Why would I do that?
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--9. QUESTION - DUAL SIM-->
            <div class="questionDiv hide" id="9-question">
                <h1 class="questionText noselect">DO YOU WANT TO PUT 2 SIM CARD?</h1>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="2sim">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sim-card" class="svg-inline--fa fa-sim-card fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 64v384c0 35.3 28.7 64 64 64h256c35.3 0 64-28.7 64-64V128L256 0H64C28.7 0 0 28.7 0 64zm224 192h-64v-64h64v64zm96 0h-64v-64h32c17.7 0 32 14.3 32 32v32zm-64 128h64v32c0 17.7-14.3 32-32 32h-32v-64zm-96 0h64v64h-64v-64zm-96 0h64v64H96c-17.7 0-32-14.3-32-32v-32zm0-96h256v64H64v-64zm0-64c0-17.7 14.3-32 32-32h32v64H64v-32z"></path></svg>
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sim-card" class="svg-inline--fa fa-sim-card fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 64v384c0 35.3 28.7 64 64 64h256c35.3 0 64-28.7 64-64V128L256 0H64C28.7 0 0 28.7 0 64zm224 192h-64v-64h64v64zm96 0h-64v-64h32c17.7 0 32 14.3 32 32v32zm-64 128h64v32c0 17.7-14.3 32-32 32h-32v-64zm-96 0h64v64h-64v-64zm-96 0h64v64H96c-17.7 0-32-14.3-32-32v-32zm0-96h256v64H64v-64zm0-64c0-17.7 14.3-32 32-32h32v64H64v-32z"></path></svg>
                                    <br>2 SIM
                                </h1>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="questionAnswerDiv" name="-">
                                <h1 class="answerText">
                                    <svg class="answerIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sim-card" class="svg-inline--fa fa-sim-card fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 64v384c0 35.3 28.7 64 64 64h256c35.3 0 64-28.7 64-64V128L256 0H64C28.7 0 0 28.7 0 64zm224 192h-64v-64h64v64zm96 0h-64v-64h32c17.7 0 32 14.3 32 32v32zm-64 128h64v32c0 17.7-14.3 32-32 32h-32v-64zm-96 0h64v64h-64v-64zm-96 0h64v64H96c-17.7 0-32-14.3-32-32v-32zm0-96h256v64H64v-64zm0-64c0-17.7 14.3-32 32-32h32v64H64v-32z"></path></svg>
                                    <br>1 is enough
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resultsDiv hide">

        </div>


	</body>
        
<script>
//VARIABLES
var backgroundColors = "rgb(15,15,115)";
var hanyadikKerdes = 1;
var resultsArray = [];

//IF MOBILE AND PORTRAIT ORIANTATION ALERT TO CHANGE TO LANDSCAPE ORIANTATION
mobileViewport();

//BACKGROUND FLOW
backgroundColorFlow();

//START BUTTON
$('.startButton').on("click",function(){
    $(".titleDiv").fadeOut();
    $(".questionsDiv").fadeIn();
});

//RESPONSICE CSS
responsiveCss()        
$(window).on("resize",function(){
    responsiveCss()
})

//ANSWER DIV HOVER
$(".questionAnswerDiv").hover(function(){
    $(this).css({"background-color":"white"});
    $(this).find(".answerText").css({"color": backgroundColors });
},function(){
    $(this).css({"background-color":"#00000000"});
    $(this).find(".answerText").css({"color":"white"});
});

//ANSWER DIV CLICK + NEXT QUESTION
$(".questionAnswerDiv").on("click",function(){
    resultsArray.push($(this).attr("name"));
    hanyadikKerdes++;
    $("#"+(hanyadikKerdes-1).toString()+"-question").fadeOut(300,function(){
            $("#"+hanyadikKerdes+"-question").fadeIn(800);
    });

    //SEND DATA TO BACKEND TO CALCUATE THE BEST PHONES
    if(hanyadikKerdes == 10){
        $.ajax({
            type:"POST",
            url:"/data",
            dataType:"json",
            data:{
                arr:resultsArray
            },
            success:function(back){
                console.log(back)
                $(".resultsDiv").append("<img src='"+ back.bestPhone.pictureURL +"'><br><p>" + back.bestPhone.deviceName + "</p>");
                $(".resultsDiv").removeClass("hide");
            },
            error:function(){

            }
        });
    }
});



//FUNCTION
    //CHANGE TEXT SIZES WITH PAGE
    function responsiveCss(){
        $(".title").css({
            "font-size" : (window.innerHeight+window.innerWidth)/18+"px"
        });
        $(".startButton").css({
            "font-size" : (window.innerHeight+window.innerWidth)/45+"px"
        });
        $(".questionText").css({
            "font-size":(window.innerHeight+window.innerWidth)/25+"px"
        });
        $(".answerText").css({
            "font-size":(window.innerHeight+window.innerWidth)/55+"px"
        });
    }

    //MOBILE VIEWPORT ALERT
    function mobileViewport(){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $(".container").css("max-width","95%");
                if(window.innerHeight < window.innerWidth){
                    landscapeCss()
                } else if(window.innerHeight > window.innerWidth){
                    portraitCss();
                } else {
                    alert("ERROR")
                }
                window.addEventListener("orientationchange", function() {
                    setTimeout(function(){
                        if(window.innerHeight < window.innerWidth){
                            landscapeCss()
                        } else if(window.innerHeight > window.innerWidth){
                            portraitCss();
                        } else {
                            alert("ERROR")
                        }
                    },50);                    
                }, false);
        }
    }
    function portraitCss(){
        $(".area").css({"opacity":"0.5"});
        $(".titleDiv").css({"opacity":"0.5"})
        $(".rotateDeviceDiv").fadeIn();
        $(".rotateDeviceIcon").addClass("rotate-center");
        $(".startButton").attr("disabled",true);
    }
    function landscapeCss(){
        $(".rotateDeviceIcon").css({'transform' : 'rotate('+ -90 +'deg)'});
        $(".area").css({"opacity":"1"});
        $(".titleDiv").css({"opacity":"1"})
        $(".rotateDeviceDiv").fadeOut();
        $(".rotateDeviceIcon").removeClass("rotate-center");
    }


    //BACKGROUND COLOR CHANGING
    function backgroundColorFlow(){
        let changeTime = 100;
        let mennyivel = 1;
        let min = 15;
        let max = 115;

        let redNov = false;
        let redCsok = true;
        let greenNov = false;
        let greenCsok = false;
        let blueNov = false;
        let blueCsok = false;

        let red = min;
        let green = min;
        let blue = max;

        setInterval(()=>{
            if(redNov){
                if(red >= max){
                    redNov = false;
                    greenCsok = true;
                } else {
                    red += mennyivel
                }
            }
            if(redCsok){
                if(red <= min){
                    redCsok = false;
                    greenNov = true;
                } else {
                    red -= mennyivel
                }
            }
            if(greenNov){
                if(green >= max){
                    greenNov = false;
                    blueCsok = true;
                } else {
                    green += mennyivel
                }
            }
            if(greenCsok){
                if(green <= min){
                    greenCsok = false;
                    blueNov = true;
                } else {
                    green -= mennyivel;
                }
            }
            if(blueNov){
                if(blue>=max){
                    blueNov = false;
                    redCsok = true;
                } else {
                    blue += mennyivel
                }
            }
            if(blueCsok){
                if(blue<=min){
                    blueCsok = false;
                    redNov = true;
                } else {
                    blue -= mennyivel
                }
            }
            backgroundColors = "rgb(" + red + "," + green + "," + blue + ")";
            $(".area").css({"background":backgroundColors});
            if($(".startButton:hover").length == 0){
                $(".startButton").css({"color":backgroundColors, "border-color":"white"});
            } else {
                $(".startButton").css({"background":"#FFFFFF00","color":"white"});
            }
            $(".startButton").on("mouseenter",function(){
                $(this).css({"background":"#FFFFFF00","color":"white"});
            });
            $(".startButton").on("mouseleave",function(){
                $(this).css({"background":"white","color":backgroundColors});
            });
        },changeTime);
        
    }
</script>
</html>