<html>
    <head>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--JQUERY-->
        <script type="text/javascript" src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
        <!--SWEETALERT-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    </head>
    <body>
        <center>
            <a class="btn btn-outline-dark" href="/" style="margin: 3rem;"> Go to main page </a>
        </center>
	</body>
        
<script>

passwordSwal()        

function passwordSwal(){
    Swal.fire({
        title: 'Admin password',
        input: 'password',
        inputAttributes: {
            autocapitalize: 'off'
        },
        showCancelButton: true,
        cancelButtonText:"Back",
        confirmButtonText: 'Login',
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: (login) => {
            $.ajax({
                type:"POST",
                url:"/admin",
                data:{
                    pw:login
                },
                success: function(data){
                    console.log(data.success)
                    if(data.success){
                        window.location.href = "/admin"
                    } else {
                        passwordSwal()
                    }
                }
            });
        }
    });
}

        
</script>
</html>