.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index:10000;
}
.cursor--small {
  width: 7px;
  height: 7px;
  left: -3.5px;
  top: -3.5px;
  border-radius: 50%;
  z-index: 11000;   
  background: white;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

*{
    cursor: none;
}
*:hover{
    cursor: none;
}
.startButton{
    cursor: none !important;
}